<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if site.hastag %} {{site.hashtag}} | {% endif %} {% if site.name %} {{site.name}} | {% endif %} {{ site.utc | date: "%B %-d, %Y" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="">
    <meta property="og:image" content="{{site.logo}}"/>
    <meta property="og:title" content="{{site.hashtag}} | {{ site.utc | date: "%B %-d, %Y" }}"/>
    <meta property="og:url"  content="{{site.url}}"/>
    <meta property="og:type"  content="website">

    <!-- Font from Google -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Countdown CSS -->
    <link rel="stylesheet" href="assets/css/jquery.countdown.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        /* Additional CSS for adjusting spacing */
        .row {
            margin-top: 20px; /* Add space from the top */
        }
        .countdown-container {
            padding: 10px; /* Reduce padding for the countdown */
        }
        .text-below-countdown {
            margin-top: 20px; /* Add space between countdown and text */
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="background-highlight">{{site.name}}</h1>
            <h2 class="background-highlight">Countdown</h2>
            <a href="{{site.externalLink}}"><img src="{{site.logo}}" style="width:40%"/></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center countdown-container">
            <div id="defaultCountdown"></div>
        </div>
    </div>

    <div class="row text-below-countdown">
        <div class="col-sm-12 text-center">
            <h2 class="background-highlight">{{ site.utc | date: "%A %B %-d, %Y" }}</h2>
        </div>
    </div>

    {% if site.facebookEventLink %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <a href="{{site.facebookEventLink}}">RSVP on Facebook</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- JavaScript includes -->
<script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>

<script type="text/javascript">
    $(function () {
        var holiday = new Date("{{site.utc}}");
        $('#defaultCountdown').countdown({until: holiday});
    });
</script>
</body>
</html>
